header, main, footer {
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
}

#game-settings {
    width: 24rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
}

#warningAlert {
    display: none;
    margin: 1.5rem 0;
}

#gameplay, #results {
    display: none;
}

#gameplay {
    margin-bottom: 3rem;
}

.btn-lg {
    margin: 0 0.5rem 0 0.5rem;
}

#restart-button {
    margin: 0 auto;
    text-align: center;
    display: none;
}